<section id="main">
<div class="container">
  <h2>Rosters</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
         <td>Serial No</td> <td>Name</td> <td>Description</td><td>Total Students</td> <td>Co-ordinator</td><td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="roster in rostersList">
          <td>{{$index + 1}}</td>
          <td>{{roster.name}}</td>
          <td>{{roster.description}}</td>
          <td>{{roster.total_students}}</td>
          <td>{{roster.owner}}</td>
          <td><a class="show-info" href="#/rosters/{{roster.id}}">
                  View Students
                </a></td>
        </tr>
    </tbody>
  </table>
  </div>
</div>
</section>

