<section id="main">
<div class="container">

  <div class="row">
    <div class="col-sm-8"><h2>Students</h2></div>
    <div class="col-sm-2"><a role="button" class="btn btn-success" href="#/students/{{id}}/0" >
                  Add a student
                </a></div>
    <div class="col-sm-2"><a role="button" class="btn btn-info" class="show-info" href="#/rosters" >
                  View Rosters
                </a></div>

  </div>


  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
         <td>First Name</td> <td>Last Name</td> <td>Email ID</td> <td>Phone No</td> <td>Attendance</td><td>Average</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in students">
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.email_id}}</td>
          <td>{{student.phone_number}}</td>
          <td>{{student.attendance}}</td>
          <td>{{student.average}}</td>
          <td><a role="button" class="btn btn-primary" href="#/students/{{id}}/{{student.id}}" >
                  Update
                </a></td>
          <td><button type="button" class="btn btn-danger" ng-click="removePerson(student.id)">
                  Delete
                </button></td>
        </tr>
    </tbody>
  </table>
  </div>
</div>
</section>
